@model ASP_ValidationModel.ViewModels.PersonViewModel

<form asp-antiforgery="true" asp-action="Create" asp-controller="Home" enctype="multipart/form-data">
    <div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Name"></label><br />
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword"></label><br />
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Age"></label><br />
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div>
            <input type="file" name="uploadedFile" /><br>
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    </div>
</form>


@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}